html, body,
#root,
.App, .App-main-container,
.App-body, .main-container {
	height: 100%;
}

.main-container {
    width: 960px;
    margin: 0 auto;
    background-color: #f3f3f3;
}

.routes-container {
	padding: 20px;
}

.form-input {
	display: block;
	height: 25px;
	margin: 5px 0px;
	padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-submit-button {

	font-size: 16px;
	padding: 8px;
    border: 1px solid #999;
    border-radius: 4px;
}

.base-list {
	margin: 0;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}