.login-container p {
	margin: 0;
}

.login-form-container {
	width: 240px;
	margin: 0 auto;
	background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-color: #b3b3b3;
}

.login-form {
	width: 200px;
	margin: 0 auto;
}

.login-form-list {

}

.login-form-list li {
	margin-bottom: 20px;
}

.login-form-list li .form-input {
	width: 170px;
}